<header>
    <h1><%= patient.name %> </h1>
</header>
<div class="topnav">
    <a href="<%= updatePatientPath(patient.id) %>">Modificar tu Perfil</a>
    <a href="<%= deletePatientPath(patient.id) %>">Borrar Cuenta</a>
    <a href="<%= seeChatPath(patient.id) %>"> Ver contactos </a>
    <!--   <a href="#" id="r">Volver</a>  -->
</div>


<div class="grid-container-profile ">
    <div class="left-profile ">
        <h2><%= pains.length %> Dolores presentados </h2>
        <% if (pains.length){ %>

        <% pains.forEach((pain) => { %>
        <div class="card-profile">
            <h3><%= pain.name %></h3>
            <div class="button-profile">
                <a href="<%= specificPainPath(pain.id) %>">Ver más info</a>
            </div>
        </div>
        <% });%>

        <% } %>
        <div class="button-profile">
            <a href="<%= createPainPath(patient.id) %>"> Crear dolor </a>
        </div>
    </div>
    <div class="right-profile">
        <img class="profile" src="<%= cloudinary.url(patient.picture) %>" alt="<%= patient.picture %>">
        <h3><%= patient.age %> años</h3>
        <h3><%= patient.rut %></h3>
        <h3><%= chats.length %> contactos</h3>

        <h2> Opciones </h2>
        <div class="button-profile">
            <a href="<%= updatePatientPath(patient.id) %>"> Modificar tu Perfil </a>
        </div>
        <div class="button-profile">
            <a href="<%= deletePatientPath(patient.id) %>"> Borrar Cuenta </a>
        </div>
        <div class="button-profile">
            <a href="<%= seeChatPath(patient.id) %>"> Ver contactos </a>
        </div>
        <div class="button-profile">
            <a href="<%= messagesPatientPath %>"> Mensajes </a>
        </div>
        <div class="button-profile">
            <a href="<%= createPatientMessagePath %>"> Enviar mensaje </a>
        </div>
    </div>

</div>