

    <header>
        <h1>Creando dolor del paciente: <%= patient.name %> </h1>
    </header>

    <div class="topnav">
       
   <a href="<%= patientPath(patient.id) %>" id= "r">Volver</a> 
    </div>



<div class="card">
<form method="post" action="<%= createPainPath(patient.id) %>" >

    <% if (locals.errors){ %>
        <div class="card2">
            <p>El dolor no se pudo crear debido a los siguientes errores:</p>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.path %>: <%= error.message %> </li>
                <% }); %>
            </ul>
        </div>
    <% } %>

    <table>
    <div>
        <tr>
        <td><label for="name" >Nombre resumido del dolor: </label></td>
        <td><input type="text" name="name" id="name" value="<%= pain.name %>" /></td>
    </div>
    <div>
        <tr>
            <td><label for="description" >Descripción del dolor: </label></td>
            <td><textarea name="description" id="description" ><%= pain.description %></textarea></td>
    </tr>
    </div>
    <div>
        <tr>
            <td><label for="category" >Categoría del dolor: </label></td>
            <td><input type="text" name="category" id="category" value="<%= pain.category %>" /></td>
    </tr>
    </div>
</table>
    <div class="card2">
        <input type="submit" value="Crear Dolor" />
    </div>
</form>
</div>
