<html>
    <head>
    <link rel="stylesheet" href="src/assets/styles/plantilla1.scss">
    </head>
    
    <body>
    
<div class="header">
    <h1>Información específica del Dolor </h1>        
</div>





<div class="caja2">
<h2>Dolor perteneciente al paciente: <%= patient.name %> </h2>
<p> <strong>Resumen del dolor: </strong><%= pain.name %> </p>
<p> <strong>Descripción del dolor: </strong> <%= pain.description%>  </p>
<p><strong>Categoría del dolor: </strong> <%= pain.category%> </p>
</div>

<% if (locals.definitiveDate) { %>

    <div class="caja2">
        <h2> Cita Elegida: </h2>
        <h4> <%= definitiveDate.schedule %> </h4>
        <a href="<%= specificDatePath(definitiveDate.id) %>">Ver más info de esta cita</a>
    </div>

<% } else { %>

    <div class="caja2">
        <h2><%= dates.length %> Potenciales citas disponibles: </h2>
        <% if (dates.length){ %>
            <ul>
                <% dates.forEach((date) => { %>
                    <li>
                        <h4><%= date.schedule %></h4>
                        <a href="<%= specificDatePath(date.id) %>">Ver más info de esta cita</a>
                    </li>
                <% });%>
            </ul>
        <% } %>
    </div>

<% } %>

