
<header>
    <h1>Información específica del Dolor </h1>        
</header>
<div class="topnav">
         <a href="#" style="float:right">Volver</a>
</div>




<div class="card">
<h2>Dolor perteneciente al paciente: <%= patient.name %> </h2>
<p> <strong>Resumen del dolor: </strong><%= pain.name %> </p>
<p> <strong>Descripción del dolor: </strong> <%= pain.description%>  </p>
<p><strong>Categoría del dolor: </strong> <%= pain.category%> </p>
</div>

<% if (locals.definitiveDate) { %>

    <div class="card">
        <h2> Cita Elegida: </h2>
        <h4> <%= definitiveDate.schedule %> </h4>
        <div class="button">
        <a href="<%= specificDatePath(definitiveDate.id) %>">Ver más info de esta cita</a>
    </div>
    </div>

<% } else { %>

    <div class="card">
        <h2><%= dates.length %> Potenciales citas disponibles: </h2>
        <% if (dates.length){ %>
            
                <% dates.forEach((date) => { %>
                    <div class="card2">
                        <h4><%= date.schedule %></h4>
                    <div class="button">
                        <a href="<%= specificDatePath(date.id) %>">Ver más info de esta cita</a>
                    </div>
                </div>  
                <% });%>
           
        <% } %>
    </div>

<% } %>

