<html>
    <head>
    <link rel="stylesheet" href="src/assets/styles/plantilla1.scss">
    </head>
    
    <body>
    
<div class="header">
    <h1>Esta viendo el dentista <%= dentist.name %> </h1> 
</div>


<div class="caja2">
<h1>Información del Dolor: </h1>
<h2>Dolor perteneciente al paciente: <%= patient.name %> </h2>
<p> <strong>Resumen del dolor:</strong> <%= pain.name %> </p>
<p> <strong>Descripción del dolor: </strong> <%= pain.description%>  </p>
<p><strong>Categoría del dolor: </strong> <%= pain.category%> </p>
</div>
<div class="caja2">

    <% if (dentistAlreadyApplied.check === true) { %>
        <p>Ya postulaste a este dolor!</p>
    <% } else { %>
        <a href="<%= dateNewPath(dentist.id, pain.id) %>">Postular a este dolor</a>
    <% }%>
</div>