
<header>
    <h1>Esta viendo el dentista <%= dentist.name %> </h1> 
</header>
<div class="topnav">
    <a href="<%= seePainsPath(dentist.id)  %>" id="r">Volver</a>
    <a href="<%= dentistPath(dentist.id) %>" >Inicio</a>
</div>


<div class="card">
<h1>Información del Dolor: </h1>
<h2>Dolor perteneciente al paciente: <%= patient.name %> </h2>
<p> Resumen del dolor: <%= pain.name %> </p>
<p> Descripción del dolor:<%= pain.description%>  </p>
<p>Categoría del dolor:  <%= pain.category%> </p>
</div>

<div class="card">

    <% if (dentistAlreadyApplied.check === true) { %>
        <p>Ya postulaste a este dolor!</p>
    <% } else { %>
        <div class="button">
        <a href="<%= dateNewPath(dentist.id, pain.id) %>">Postular a este dolor</a>
    </div>
    <% }%>
</div>