<form method="post" action="<%= createChatPath %>">
    <% if (locals.errors){ %>
    <div>
        <p>No se pudo crear la conexión debido a lo siguiente:</p>
        <ul>
            <% errors.forEach(error => { %>
            <li><%= error.path %>: <%= error.message %> </li>
            <% }); %>
        </ul>
    </div>
    <% } %>
    <div class="field">
        <label for="dentistId">id odontologo</label>
        <input type="text" name="dentistId" id="dentistId" value="<%= chat.dentistId%>" />
    </div>
    <div class="field">
        <label for="patientId">id paciente</label>
        <input type="text" name="patientId" id="patientId" value="<%= chat.patientId%>" />
    </div>
    <div class="actions">
        <input type="submit" value="crear contacto" />
    </div>

</form>