<header>
    <h1>Contactos: <%= chatsPersonToSend.length %> </h1>
</header>

<div class="topnav">
    <!-- <a href=<%= "patientPath(idpatient)" %> >Inicio</a> -->
    <a href="<%= ruta %>">Inicio</a>
</div>

<% chatsPersonToSend.forEach( element => { %>
<div class="card">
    <h2> <%= element.person.name %></h2>
    <form method="post" action="<%= updateChatPathDataBase(element.chat.id) %>">
        <% if (locals.errors){ %>
        <div class="card2">
            <p>No se pudo cambiar la conexión por lo siguiente:</p>
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.path %>: <%= error.message %> </li>
                <% }); %>
            </ul>
        </div>
        <% } %>
        <div>
            <table>
                <% if (element.chat.block) { %>
                <p>Paciente bloqueado</p>
                <div>
                    <button name="block" value="false" type="submit">Desbloquear</button>
                </div>
                <% } else {%>
                <p>Paciente activo</p>
                <div>
                    <button name="block" value="true" type="submit">Bloquear</button>
                </div>
                <% } %>
            </table>
        </div>
    </form>
</div>
<% }) %>