

    <header>
        <h1>Chats</h1>
    </header>

<div class="topnav">
    <a href="#" id= "r">No sirve</a>
</div>


    <% chatsToSend.forEach( chat => { %>
    <div class="card">
        <h2> id paciente: <%= chat.patientId %></h2>
        <h2> id dentista: <%= chat.dentistId %></h2>
        <p> block: <%= chat.block %></p>
        
        <div class="card2">
        <div class="button">
            <a href="<%= updateChatPath(chat.id) %>"> Modificar conexión </a>
        </div>
        <div class="button">
            <a href="<%= deleteChatPath(chat.id) %>"> Eliminar conexión </a>
        </div>
        </div>
    </div>
    <% }) %>


