

    <header>
        <h1>Contactos: <%= chatsPersonToSend.length %> </h1>
    </header>

    <div class="topnav">   
        <!-- <a href=<%= "patientPath(idpatient)" %> >Inicio</a> -->
        <a href="<%= ruta %>" >Inicio</a> 
    </div>
    <% chatsPersonToSend.forEach( element => { %>
    <div class="card">
        <h2> <%= element.person.name %></h2>
        <% if (element.chat.block) { %>
        <p>conexión no disponible</p>
        <% } else {%>
        <p>conexión disponible</p>
        <% } %>
        <a href="<%= updateChatPath(element.chat.id) %>"> Modificar conexión </a>
    </div>
    <% }) %>

