<header>
    <h1>Chats</h1>
</header>
<div class="topnav">
    <!-- <a href="#" id="r">No sirve</a> -->
</div>




<div class="card">
    <h1>Agregar un contacto </h1>

    <div class="button">
        <a href="<%= newChatsPath %>">agregar nuevo contacto</a>
    </div>
</div>

<% chats.forEach( chat => { %>
<div class="card">
    <h2> id paciente: <%= chat.patientId %></h2>
    <p> id dentista: <%= chat.dentistId %></p>
    <p> block: <%= chat.block %></p>
    <!--<div class="button">-->
    <!--<a href="<%= chatsPath(chat.id) %>">Ver conexión</a>-->
    <!--</div>-->
</div>
<% }) %>

<div class="card" id="chat-modify" data-chat="<%= JSON.stringify(chat) %>">


</div>