<header>
    <h1> <%= dentist.name %> </h1>
</header>
<div class="topnav">


    <a href="<%= seePainsPath(dentist.id) %>"> Ver Dolores disponibles </a>
    <a href="<%= seeDatesPath(dentist.id) %>"> Ver estado de tus Postulaciones/Citas </a>
    <a href="<%= messagesDentistPath %>"> Ver mensajes </a>
    <a href="<%= seeChatsPath(dentist.id) %>"> Ver contactos </a>
    <a href="<%= updateDentistPath(dentist.id) %>"> Modificar tu Perfil </a>
    <a href="<%= deleteDentistPath(dentist.id) %>"> Borrar tu Cuenta</a>
    <!--     <a href="#" id="r">Volver</a> -->
</div>

<div class="grid-container-profile ">
    <div class="left-profile ">
        <h2>Información de citas postuladas</h2>
        <% infoToSend.forEach( info => { %>
        <div class="card-profile">

            <% if (info.date.state === 1) { %>

            <h3>¡Cita confirmada!</h3>
            <p>Cita con el paciente <%= info.patient.name %> </p>
            <p>Dolor: <%= info.pain.name %> </p>
            <p>Descripción: <%= info.pain.description %> </p>
            <p>Fecha: <%= info.date.schedule %> </p>

            <% } else if (info.date.state === 2) { %>

            <h3>Cita Ya fue llevada a cabo!</h3>
            <p>Cita con el paciente <%= info.patient.name %> </p>
            <p>Dolor: <%= info.pain.name %> </p>
            <p>Descripción: <%= info.pain.description %> </p>
            <p>Fecha: <%= info.date.schedule %> </p>

            <% } else if (info.date.state === 0) { %>
            <h3>Cita en espera de confirmación ...</h3>
            <p>Cita con el paciente <%= info.patient.name %> </p>
            <p>Dolor: <%= info.pain.name %> </p>
            <p>Descripción: <%= info.pain.description %> </p>
            <p>Fecha: <%= info.date.schedule %> </p>

            <% }  else if (info.date.state === -1) {%>
            <h3>Cita rechazada :(</h3>
            <p>Cita con el paciente <%= info.patient.name %> </p>
            <p>Dolor: <%= info.pain.name %> </p>
            <p>Descripción: <%= info.pain.description %> </p>
            <p>Fecha: <%= info.date.schedule %> </p>
            <% } %>
        </div>
        <% }) %>
        <div class="button-profile">
            <a href="<%= seePainsPath(dentist.id) %>"> Ver Dolores disponibles </a>
        </div>
        <div class="button-profile">
            <a href="<%= seeDatesPath(dentist.id) %>"> Ver estado de tus Postulaciones o Citas </a>
        </div>
    </div>
    <div class="right-profile">
        <img src="<%= cloudinary.url(dentist.picture) %>" alt="<%= dentist.picture %>" class="profile">

        <h3><%= dentist.university %> </h3>
        <h3><%= dentist.year %> año de Odontología</h3>
        <h3><%= chats.length %> contactos</h3>
        <h3> Puntuación Promedio: <%= averageFeedback %> </h3>

        <h2> Opciones </h2>
        <div class="button-profile">
            <a href="<%= updateDentistPath(dentist.id) %>"> Modificar tu Perfil </a>
        </div>
        <div class="button-profile">
            <a href="<%= messagesDentistPath %>"> Mensajes </a>
        </div>
        <div class="button-profile">
            <a href="<%= createDentistMessagePath %>"> Enviar mensaje </a>
        </div>
        <div class="button-profile">
            <a href="<%= seeChatsPath(dentist.id) %>"> Ver contactos </a>
        </div>
        <div class="button-profile">
            <a href="<%= deleteDentistPath(dentist.id) %>"> Borrar tu Cuenta </a>
        </div>
    </div>
</div>