<html>

<head>
    <link rel="stylesheet" href="src/assets/styles/plantilla1.scss">
</head>

<body>

    <div class="header">
        <h1> <%= dentist.name %> </h1>

    </div>




    <div class="caja2">
        <p>Universidad: <%= dentist.university %> </p>
        <p>Año de la carrera: <%= dentist.year %> </p>
        <p>Cantidad de contactos: <%= chats.length %> </p>
    </div>

    <% infoToSend.forEach( info => { %>
    <div class="caja2">

        <% if (info.date.state === 1) { %>

        <h2>Cita confirmada!</h2>
        <p>Cita con el id: <%= info.date.id %></p>
        <p>Cita con el paciente: <%= info.patient.name %> </p>
        <p>Nombre del Dolor: <%= info.pain.name %> </p>
        <p>Descripción del Dolor: <%= info.pain.description %> </p>
        <form action="<%= doneDatePath(info.date.id) %>" method="post">
            <input type="hidden" name="_method" value="patch" />
            <input type="submit" value="Cita realizada con éxito" />
        </form>

        <% } else if (info.date.state === 2) { %>

        <h2>Cita Ya fue llevada a cabo!</h2>
        <p>Cita con el id: <%= info.date.id %></p>
        <p>Cita con el paciente: <%= info.patient.name %> </p>
        <p>Nombre del Dolor: <%= info.pain.name %> </p>
        <p>Descripción del Dolor: <%= info.pain.description %> </p>

        <p>Este fue tu feedback: (implementación futuro)</p>

        <% } %>

    </div>
    <% }) %>

    <div class="caja2">
        <p><a href="<%= seePainsPath(dentist.id) %>"> Ver Dolores disponibles </a></p>
        <br>
        <p><a href="<%= seeChatsPath(dentist.id) %>"> Ver contactos </a></p>
        <br>
        <p><a href="<%= updateDentistPath(dentist.id) %>"> Modificar Dentista </a></p>
        <br>
        <p><a href="<%= deleteDentistPath(dentist.id) %>"> Borrar Dentista </a></p>
    </div>


    <div class="pie">
        <p>Made with &#10084;&#65039; by Rodolfo Mendoza Jorge Toro & Sebastian Villablanca.</p>
    </div>
</body>

</html>