
     
<header>
    <h1>Estas modificando al dentista: <%= dentist.name %> </h1>
</header>
<div class="topnav">
    <a href="<%= dentistPath(dentist.id) %>" id= "r">Volver</a> 
</div>

<div class="card">

<form method="post" action="<%= updateDentistPathDataBase(dentist.id) %>" >

    <% if (locals.errors){ %>
        <div class="card2">
            <p>El dentista no se pudo crear debido a los siguientes errores:</p>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.path %>: <%= error.message %> </li>
                <% }); %>
            </ul>
        </div>
    <% } %>

    <table>
    <div>
        <tr>
        <td><label for="name" >Nombre</label></td>
        <td><input type="text" name="name" id="name" value="<%= dentist.name %>" /></td>
    </tr>
    </div>
    <div>
        <tr>
            <td><label for="university" >Universidad</label></td>
            <td><input type="text" name="university" id="university" value="<%= dentist.university %>" /></td>
    </tr>
    </div>
    <div>
        <tr>
            <td><label for="speciality" >Especialidad</label></td>
            <td><input type="text" name="speciality" id="speciality" value="<%= dentist.speciality %>" /></td>
    </tr>
    </div>
    <div><tr>
        <td><label for="year" >Año en la universidad</label></td>
        <td><input type="text" name="year" id="year" value="<%= dentist.year %>" /></td>
    </tr>
    </div>
    <div><tr>
        <td><label for="kind" >Voluntario(si / no)</label></td>
        <td><input type="text" name="kind" id="kind" value="<%= dentist.kind %>" /></td>
    </tr>
    </div>
    <div><tr>
        <td><label for="mail" >e-mail</label></td>
        <td><input type="text" name="mail" id="mail" value="<%= dentist.mail %>" /></td>
    </tr>
    </div>
    <div><tr>
        <td><label for="password" >Password</label></td>
        <td><input type="password" name="password" id="password"  /></td>
    </div>
    <div><tr>
        <td><label for="city" >Ciudad</label></td>
        <td><input type="text" name="city" id="city" value="<%= dentist.city %>" /></td>
    </tr>
    </div>
    <div><tr>
        <td><label for="address" >Calle</label></td>
        <td><input type="text" name="address" id="address" value="<%= dentist.address %>" /></td>
    </tr>
    </div>
    <div><tr>
        <td><label for="picture" >Foto</label></td>
        <td><input type="text" name="picture" id="picture" value="<%= dentist.picture %>" /></td>
    </tr>
    </div>
    <div><tr>
        <td><label for="rut" >Rut</label></td>
        <td><input type="text" name="rut" id="rut" value="<%= dentist.rut %>" /></td>
    </tr>
    </div>
    <div><tr>
        <td><label for="phone" >Telefono</label></td>
        <td><input type="text" name="phone" id="phone" value="<%= dentist.phone %>" /></td>
    </tr>
    </div>
</table>
    <div class="card2">
        <input type="submit" value="Modificar" />
    </div>
</form>

</div>



