
<html>
    <head>
    <link rel="stylesheet" href="src/assets/styles/plantilla1.scss">
    </head>
    
    <body>
    
     
    <div class="header">
        <h1>Posts</h1>
        <p> Aca en posts, podras ver todos los posts de voluntariados y noticias relacionadas a dentlist...</p>
    </div>
    
<div class="caja2">
    <h1>Agregar un Post </h1>
   <p> <a href="<%=newPostPath %>">Agregar un post </a></p>
</div>

<% posts.forEach( post => { %>
    <div class="caja2"> 
        
        <p>ID:  <%= post.id %></p>
        <h1><%= post.title %> </h1>
        <p><%= post.description %></p>
        
        <p><a href="<%= postPath(post.id) %>">Ver más</a></p>
    </div>
<% }) %>

<div class="pie">
    <p>Made with &#10084;&#65039; by Rodolfo Mendoza Jorge Toro & Sebastian Villablanca.</p>
  </div>
</body>
</html>


