
<html>
    <head>
    <link rel="stylesheet" href="src/assets/styles/index.scss">
    </head>
    
    <body>
    
     
    <header>
        <h1>Posts</h1>
        <p> Aca en posts, podras ver todos los posts de voluntariados y noticias relacionadas a dentlist...</p>
    <header>
    
<div class="card">
    <h1>Agregar un Post </h1>
   <p> <a href="<%=newPostPath %>">Agregar un post </a></p>
</div>

<% posts.forEach( post => { %>
    <div class="card"> 
        
        <p>ID:  <%= post.id %></p>
        <h1><%= post.title %> </h1>
        <p><%= post.description %></p>
        
        <p><a href="<%= postPath(post.id) %>">Ver más</a></p>
    </div>
<% }) %>


</body>
</html>


