
    
<header>
    <h1>Titulo: <%= post.title %> </h1>
    <h5>Creado por: <%= post.id_user %> </h5>     
</header>

<div class="topnav">     
    <a href="<%= wantToConnectSessionPath %>" id="r">Volver</a>
</div>

<div class="card">
<div class="card2">
    <div class="fakeimg">
        <img src="<%= cloudinary.url(post.image) %>" alt="<%= post.image %>" class="profile">
    </div>
</div>
<div class="card2">
<h5>Contenido: </h5><p> <%= post.description %> </p>
</div>
<div class="card2">
<h5>Publico objetivo: </h5><p> <%= post.public %> </p>
</div>
<div class="card2">
<h5>Comunas involucradas: </h5><p> <%= post.city %> </p>
</div>
<div class="card2">
<h5>Coordinador: </h5><p> <%= post.coordinator %> </p>
</div>
<div class="card2">
<h5>Contacto: </h5><p> <%= post.email %> </p>
</div>
<div class="card2">
<h5>Ubicación: </h5><p> <%= post.location %> </p>
</div>
<div class="card2">
<h5>Interacciones: </h5><p> <%= post.interactions %> </p>
</div>

</div>
<!-- 
<div class="card">
<div class="button">
<a href="<%= updatePostPath(post.id) %>" > Modificar Post </a>
</div>
<div class="button">
<a href="<%= deletePostPath(post.id) %>" > Borrar Post </a>
</div>

</div> -->

