
<header>
<h1>Estas modificando el post: <%= post.title %> </h1>
</header>


<div class="topnav">

    <a href="<%= postPath(post.id) %>" id="r">Volver</a>
</div>

<div class="card">

<form method="post" action="<%= updatePostPathDataBase(post.id) %>" enctype="multipart/form-data">

    <% if (locals.errors){ %>
        <div class="card2">
            <p>El post no se pudo actualizar debido a los siguientes errores:</p>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.path %>: <%= error.message %> </li>
                <% }); %>
            </ul>
        </div>
    <% } %>

    <table>
    <div class="field" >
        <tr>
        <td><label for="title">Título </label></td>
        <td><input type="string" name="title" id="title" value="<%= post.title %>"/></td>
    </tr>
    </div>

    <div class="field" >
        <tr>
            <td><label for="description">Descripción </label></td>
            <td><textarea rows="4" cols="30" name="description" id="description" ><%= post.description %></textarea></td>
    </tr>
    </div>

    <div class="field" >
        <tr>
            <td><label for="public">Publico objetivo </label></td>
            <td><input type="string" name="public" id="public" value="<%= post.public %>"/></td>
    </tr>
    </tr>
    </div>
    
    <div class="field" >
        <tr>
            <td><label for="city">Comunas objetivo</label></td>
            <td><input type="string" name="city" id="city" value="<%= post.city %>"/></td>
    </tr>
    </div>

    <div class="field" >
        <tr>
            <td><label for="coordinator">Coordinador </label></td>
            <td><input type="string" name="coordinator" id="coordinator" value="<%= post.coordinator %>"/></td>
    </tr>
    </div>

    <div class="field" >
        <tr>
            <td><label for="email">Email </label></td>
            <td><input type="string" name="email" id="email" value="<%= post.email %>"/></td>
    </tr>
    </div>

    <div class="field" >
        <tr>
            <td><label for="location">Ubicación </label></td>
            <td><input type="string" name="location" id="location" value="<%= post.location %>"/></td>
    </tr>
    </div>

    <div class="field" >
        <tr>
            <td><label for="image">Imagen </label></td>
            <td><input type="file" name="image" id="image" /></td>
    </tr>
    </div>

    <div class="field" >
        <tr>
            <td><label for="id_user">Id usuario creador </label></td>
            <td><input type="int" name="id_user" id="id_user" value="<%= post.id_user %>"/></td>
    </tr>
    </div>

    <div class="field" >
        <tr>
            <td><label for="interactions">Interacciones (numero) </label></td>
            <td><input type="int" name="interactions" id="interactions" value="<%= post.interactions %>"/></td>
    </tr>
    </div>
</table>
    <div class="actions" >
        <input type="submit" value="Modificar"/>
    </div>
</form>
</div>


