<h1> <%= carerequest.id %> </h1>
<p>su paciente es: <%= carerequest.idInjury %> </p>
<p>su precio estimado es: <%= carerequest.price %> </p>
<p>sus fechas estimadas son: <%= carerequest.datesmeeting %> </p>
<p>su mensaje es: <%= carerequest.message %> </p>
<a href="<%= deleteCarerequestPath(carerequest.id) %>"> Eliminar solicitud </a>