
     
<header>
    <h1> Modificación de solicitud de atención:</h1>
</header>

<div class="card">

<form method="post" action="<%= updateCarerequestPathDataBase(carerequest.id) %>">
    <% if (locals.errors){ %>
    <div>
        <p>No se pudo modificar debido a lo siguiente:</p>
        <ul>
            <% errors.forEach(error => { %>
            <li><%= error.path %>: <%= error.message %> </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <div>
        <label for="datesmeeting">Fechas posibles</label>
        <input type="text" name="datesmeeting" id="datesmeeting" value="<%=carerequest.datesmeeting%>" />
    </div>
    <div>
        <label for="price">Precio</label>
        <input type="text" name="price" id="price" value="<%=carerequest.price%>" />
    </div>
    <div>
        <label for=" message">Mensaje</label>
        <input type="text" name="message" id="message" value="<%=carerequest.message%>" />

    </div>
    <div>
        <input type="submit" value="Modificar solicitud de atención" />
    </div>
</form>
</div>

