<html>
<head>
<link rel="stylesheet" href="src/assets/styles/index.scss">
</head>

<body>

    <header>
        <h1>Odontólogo <%= dentist.name %> creando posible cita</h1>
    </header>
    <div class="topnav">
        <a href="<%= painPath(pain.id, dentist.id) %>" style="float:right">Volver</a>
    </div>

<div class="card">
<form method="post" action="<%= createDatePath(dentist.id, pain.id) %>" >

    <% if (locals.errors){ %>
        <div class="card2">
            <p>La Cita no se pudo crear debido a los siguientes errores:</p>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.path %>: <%= error.message %> </li>
                <% }); %>
            </ul>
        </div>
    <% } %>
    <table>
    <div>
    <tr>
        <td><label for="schedule" >Posibles horarios: </label></td>
        <td><textarea rows="4" cols="30" name="schedule" id="schedule" ><%= date.schedule %></textarea></td>
    </tr>
    </div>
    <div>
    <tr>
        <td><label for="price" >Precio: </label></td>
        <td><input type="number" name="price" id="price" value="<%= date.price %>" /></td>
    </tr>
    </div>
    <div>
    <tr>
        <td><label for="message" >Mensaje de Presentación para el Paciente: </label></td>
        <td><textarea rows="4" cols="30" name="message" id="message" ><%= date.message %></textarea></td>
    </tr>
    </div>
    </table>
    <div class="card2">
        <input type="submit" value="Crear Cita" />
    </div>
</form>
</div>

<div class="pie">
    <p>Made with &#10084;&#65039; by Rodolfo Mendoza Jorge Toro & Sebastian Villablanca.</p>
  </div>
</body>
</html>
