
    <header>
        <h1>Odontólogo <%= dentist.name %> creando posible cita</h1>
    </header>
    <div class="topnav">
        <a href="<%= painPath(pain.id, dentist.id) %>" id= "r">Volver</a>
    </div>

<div class="card">
<form method="post" action="<%= createDatePath(dentist.id, pain.id) %>" >

    <% if (locals.errors){ %>
        <div class="card2">
            <p>La Cita no se pudo crear debido a los siguientes errores:</p>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.path %>: <%= error.message %> </li>
                <% }); %>
            </ul>
        </div>
    <% } %>
    <table>
    <div>
    <tr>
        <td><label for="schedule" >Posibles horarios: </label></td>
        <td><input type="text" name="schedule" id="schedule" value="<%= date.schedule %>" /></td>
    </tr>
    </div>
    <div>
    <tr>
        <td><label for="price" >Precio: </label></td>
        <td><input type="text" name="price" id="price" value="<%= date.price %>" /></td>
    </tr>
    </div>
    </table>
    <div class="card2">
        <input type="submit" value="Crear Cita" />
    </div>
</form>
</div>

