
<header>
    <h1>Cita ofrecida por el odontologo: <%= dentist.name %> </h1>    
</header>

<div class="topnav">
    <a href="#" id="r">No sirve</a>
   <!--  <a href="<%=  %>" style="float:right">Volver</a>

    specificPainPath(pain.id) -->
</div>

<div class="card">
<h2>Informaci贸n de la cita ofrecida: </h2>
<p><strong>Horario:</strong>  <%= date.schedule %></p>
<p><strong>Precio:</strong>  <%= date.price %></p>
<p><strong>Mensaje de presentaci贸n del Dentista:</strong>  <%= date.message %></p>
</div>



<% if (date.state === 1) { %>
    <div class="card">
    <p><strong>Estado:</strong> Cita Confirmada </p>
    </div>
<% } else if (date.state === -1) { %>
    <div class="card">
    <p><strong>Estado:</strong> Cita Rechazada por paciente </p>
    </div>
<% } else if (date.state === -2) { %>
    <div class="card">
    <p><strong>Estado:</strong> Cita Rechazada por el Dentista/ Postulaci贸n cancelada por Dentista </p>
    </div>
<% } else if (date.state === 2) {  %>
    <div class="card">
    <p><strong>Estado:</strong> Cita Realizada </p>
    <div class="button">
        <a href="<%= newFeedbackPath(date.id) %>">Dar Feedback al Odont贸logo</a>
    </div>
    </div>
<% } else { %>

    <div class="card">
    <div class="card2">
        <form action="<%= confirmDatePath(date.id) %>" method="post">
            <input type="hidden" name="_method" value="patch" />
            <input type="submit" value="Confirmar Cita" />
        </form>
    </div>
    
    <div class="card2">
        <form action="<%= rejectDatePath(date.id) %>" method="post">
            <input type="hidden" name="_method" value="patch" />
            <input type="submit" value="Rechazar Cita" />
        </form>
    </div>
</div>
<% } %>

