
<header>
    <h1>Cita ofrecida por el odontologo: <%= dentist.name %> </h1>    
</header>

<div class="topnav">
    <a href="<%= ruta %>" >Inicio</a>
</div>

<div class="card">
<h2>Informaci贸n de la cita ofrecida: </h2>
<p>Horario:  <%= date.schedule %></p>
<p>Precio:  <%= date.price %></p>
<p>Mensaje de presentaci贸n del Dentista:  <%= date.message %></p>
</div>



<% if (date.state === 1) { %>
    <div class="card">
    <p>Estado: Cita Confirmada </p>
    </div>
<% } else if (date.state === -1) { %>
    <div class="card">
    <p>Estado: Cita Rechazada por paciente </p>
    </div>
<% } else if (date.state === -2) { %>
    <div class="card">
    <p>Estado: Cita Rechazada por el Dentista/ Postulaci贸n cancelada por Dentista </p>
    </div>
<% } else if (date.state === 2) {  %>
    <div class="card">
    <p>Estado: Cita Realizada </p>
    <div class="button">
        <a href="<%= newFeedbackPath(date.id) %>">Dar Feedback al Odont贸logo</a>
    </div>
    </div>
<% } else { %>

    <div class="card">

    <div id="spinner" 
        data-date="<%= JSON.stringify(date) %>"> 
    </div>
    
    <div class="card2">
        <form action="<%= rejectDatePath(date.id) %>" method="post">
            <input type="hidden" name="_method" value="patch" />
            <input type="submit" value="Rechazar Cita" />
        </form>
    </div>
</div>
<% } %>

