<h1>Bienvenido a Dentilist</h1>

<div >
    <% if (locals.currentPatient) { %>
      <p>Estas conectado como PACIENTE con el email: <%= currentPatient.email %></p>
      <p>Estas conectado como PACIENTE con el nombre: <%= currentPatient.name %></p>
    <% } else if (locals.currentDentist) { %>
        <p>Estas conectado como DENTISTA con el email: <%= currentDentist.mail %></p>
        <p>Estas conectado como DENTISTA con el nombre: <%= currentDentist.name %></p>
    <% } else { %>

        <p> <a href="<%=patientRegistrationPath %>">Registrarse como Paciente</a> </p>
        <p> <a href="<%=dentistRegistrationPath %>">Registrarse como Dentista</a> </p>
                
        <hr>
        <h2>Iniciar sesión como PACIENTE</h2>
        <form method="post" action="<%= loginPatientPath %>" >

            <% if (locals.error){ %>
                <div>
                    <p>No pudiste iniciar sesión debido a:</p>
                    <p><%= error %></p>
                </div>
            <% } %>

            <div class="field">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" value="<%= locals.email %>" />
            </div>
            <div class="field">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" />
            </div>
            
            <div class="actions">
                <input type="submit" value="Iniciar sesión paciente" />
            </div>
        </form>

        <hr>
        <h2>Iniciar sesión como DENTISTA</h2>
        <form method="post" action="<%= loginDentistPath %>" >

            <% if (locals.error){ %>
                <div>
                    <p>No pudiste iniciar sesión debido a:</p>
                    <p><%= error %></p>
                </div>
            <% } %>

            <div class="field">
                <label for="mail">E-mail</label>
                <input type="mail" id="mail" name="mail" value="<%= locals.mail %>" />
            </div>
            <div class="field">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" />
            </div>
            
            <div class="actions">
                <input type="submit" value="Iniciar sesión dentista" />
            </div>
        </form>
        
    <% } %>
</div>

