
<html>
<head>
<link rel="stylesheet" href="src/assets/styles/index.scss">
</head>

<body>

 
<header>
    <h1>DentList</h1>
    <p> Bienvenido a DentList, en desarrollo...</p>
</header>

<div class="barra">
    <a href="#">Atras</a>
   
    <a href="#" style="float:right">Inicio</a>
</div>

<div class="card">
    <h2>CRUD'S</h2>
    <h5>Aca pudes acceder a las disntas entidades, verlas, crearlas, actualizarlas y eliminarlas </h5>
</div>

<div class="card2">
    <h2> Pacientes</h2>
    <p> <a href="<%= patientsPath %>"> Ver los Pacientes</a> </p>
</div>
<div class="card2">
    <h2> Dentistas</h2>
    <p> <a href="<%= dentistsPath %>"> Ver los Dentistas </a> </p>
</div>
<div class="card2">
    <h2> Solicitudes de atención</h2>
    <p> <a href="<%= carerequestsPath %>"> Ver las solicitudes de atención </a> </p>
</div>
<div class="card2">
    <h2> Chats</h2>
    <p> <a href="<%= chatsPath %>"> Ver los Chats</a> </p>
</div>
<div class="card2">
    <h2> Mensajes</h2>
    <p> <a href="<%= messagesPath %>"> Ver los Mensajes </a> </p>
</div>
<div class="card2">
    <h2> Feedbacks</h2>
    <p> <a href="<%= feedbacksPath %>"> Ver los Feedbacks </a> </p>
</div>
<div class="card2">
    <h2> Notificaciones</h2>
    <p> <a href="<%= notificationsPath %>"> Ver las notificaciones </a> </p>
</div>
<div class="card2">
    <h2> Posts</h2>
    <p> <a href="<%= postsPath %>"> Ver los posts </a> </p>
</div>




</body>
</html>


