
<html>
<head>
<link rel="stylesheet" href="src/assets/styles/plantilla1.scss">
</head>

<body>

 
<div class="header">
    <h1>DentList</h1>
    <p> Bienvenido a DentList, en desarrollo...</p>
</div>

<div class="barra">
    <a href="<%= indexPath %>">Atras</a>
   
    <a href="<%= indexPath %>" style="float:right">Inicio</a>
</div>

<div class="caja1">
    <h2>CRUD'S</h2>
    <h5>Aca pudes acceder a las disntas entidades, verlas, crearlas, actualizarlas y eliminarlas </h5>
</div>

<div class="caja2">
    <p> <a href="<%= patientsPath %>"> Ver los Pacientes</a> </p>
</div>
<div class="caja2">
    <p> <a href="<%= dentistsPath %>"> Ver los Dentistas </a> </p>
</div>
<div class="caja2">
    <p> <a href="<%= carerequestsPath %>"> Ver las solicitudes de atención </a> </p>
</div>
<div class="caja2">
    <p> <a href="<%= chatsPath %>"> Ver los Chats</a> </p>
</div>
<div class="caja2">
    <p> <a href="<%= messagesPath %>"> Ver los Mensajes </a> </p>
</div>
<div class="caja2">
    <p> <a href="<%= feedbacksPath %>"> Ver los Feedbacks </a> </p>
</div>
<div class="caja2">
    <p> <a href="<%= notificationsPath %>"> Ver las notificaciones </a> </p>
</div>
<div class="caja2">
    <p> <a href="<%= postsPath %>"> Ver los posts </a> </p>
</div>




<div class="pie">
    <p>Made with &#10084;&#65039; by Rodolfo Mendoza Jorge Toro & Sebastian Villablanca.</p>
  </div>
</body>
</html>


