<h1>Página principal</h1>
<p> <a href="<%= patientsPath %>"> Ver los Pacientes</a> </p>
<p> <a href="<%= dentistsPath %>"> Ver los Dentistas </a> </p>
<p> <a href="<%= carerequestsPath %>"> Ver las solicitudes de atención </a> </p>
<p> <a href="<%= chatsPath %>"> Ver los Chats</a> </p>
<p> <a href="<%= messagesPath %>"> Ver los Mensajes </a> </p>
<p> <a href="<%= feedbacksPath %>"> Ver los Feedbacks </a> </p>
<p> <a href="<%= notificationsPath %>"> Ver las notificaciones </a> </p>
<p> <a href="<%= postsPath %>"> Ver los posts </a> </p>

<div id="react-app">Here a React app will be rendered</div>
