<form method="post" action="<%= createMessagePath %>">
    <% if (locals.errors){ %>
    <div class="card2">
        <p>No se pudo crear el mensaje debido a lo siguiente:</p>
        <ul>
            <% errors.forEach(error => { %>
            <li><%= error.path %>: <%= error.message %> </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <table>
    <div class="field">
        <tr>
        <td><label for="idSend">Enviado por:</label></td>
        <td><input type="text" name="idSend" id="idSend" value="<%= message.idSend %>" /></td>
        </tr>
    </div>
    <div class="field">
        <tr>
            <td><label for="idReceive">Enviar a:</label></td>
            <td><input type="text" name="idReceive" id="idReceive" value="<%= message.idReceive %>" /></td>
     </tr>
    </div>
    <div class="field">
        <tr>
            <td><label for="body">Body</label></td>
            <td><input type="text" name="body" id="body" value="<%= message.body %>" /></td>
        </tr>
    </div>
    </table>


    <div class="card2">
    <div class="actions">
        <input type="submit" value="Enviar mensaje" />
    </div>
    </div>

</form>