<form method="post" action="<%= createMessagePath %>">
    <% if (locals.errors){ %>
    <div>
        <p>No se pudo crear el mensaje debido a lo siguiente:</p>
        <ul>
            <% errors.forEach(error => { %>
            <li><%= error.path %>: <%= error.message %> </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <div class="field">
        <label for="idSend">Enviado por:</label>
        <input type="text" name="idSend" id="idSend" value="<%= message.idSend %>" />
    </div>
    <div class="field">
        <label for="idReceive">Enviar a:</label>
        <input type="text" name="idReceive" id="idReceive" value="<%= message.idReceive %>" />
    </div>
    <div class="field">
        <label for="body">Body</label>
        <input type="text" name="body" id="body" value="<%= message.body %>" />
    </div>
    <div class="actions">
        <input type="submit" value="Enviar mensaje" />
    </div>

</form>