<form method="post" action="<%= createMessagePath %>">
    <% if (locals.errors){ %>
    <div class="card2">
        <p>No se pudo crear el mensaje debido a lo siguiente:</p>
        <ul>
            <% errors.forEach(error => { %>
            <li><%= error.path %>: <%= error.message %> </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <table>
        <label for="chatId">Enviar a:</label>
        <select class="select" name="chatId" id="chatId">
            <optgroup label="Contactos">
                <% chatsToSend.forEach((element) => { %>
                <option value="<%= element.chat %>"> <%= element.person.name %> </option>
                <% });%>
            </optgroup>
        </select>

        <div class="field">
            <tr>
                <td><label for="body">Mensaje</label></td>
                <td><textarea class="textarea" type="text" name="body" id="body" value="<%= message.body %>"></textarea>
                </td>
            </tr>
        </div>
    </table>

    <div class="card2">
        <div class="actions">
            <input type="submit" value="Enviar mensaje" />
        </div>
    </div>

</form>