<html>

<head>
    <link rel="stylesheet" href="src/assets/styles/plantilla1.scss">
</head>

<body>


    <div class="header">
        <h1>Mensajes</h1>
        <p>Cantidad de mensajes: <%= messages.length %></p>

    </div>




    <div class="caja2">
        <h1>Enviar un nuevo mensaje </h1>
        <p> <a href="<%= newMessagePath %>">Enviar un nuevo mensaje</a></p>
    </div>

    <% messages.forEach( message => { %>

    <div class="caja2">
        <h2>Mensaje enviado por: <%= message.idSend %></h2>
        <p>Mensaje recibido por: <%= message.idReceive %></p>
        <a href="<%= messagePath(message.id) %>">leer</a>

    </div>
    <% }) %>

    <h1>MENSAJES ENVIADOS <%= messagesDentistSent.length %> </h1>

    <% messagesDentistSent.forEach( message => { %>

    <div class="caja2">
        <h2>Mensaje enviado por: <%= message.idSend %></h2>
        <p>Mensaje recibido por: <%= message.idReceive %></p>
        <a href="<%= messagePath(message.id) %>">leer</a>

    </div>
    <% }) %>

    <h1>MENSAJES RECIBIDOS <%= messagesDentistReceive.length %> </h1>
    <% messagesDentistReceive.forEach( message => { %>

    <div class="caja2">
        <h2>Mensaje enviado por: <%= message.idSend %></h2>
        <p>Mensaje recibido por: <%= message.idReceive %></p>
        <a href="<%= messagePath(message.id) %>">leer</a>

    </div>
    <% }) %>

    <div class="pie">
        <p>Made with &#10084;&#65039; by Rodolfo Mendoza Jorge Toro & Sebastian Villablanca.</p>
    </div>
</body>

</html>