
    <header>
        <h1>Mensajes</h1>
    </header>

    <div class="card">
        <h1>Enviar un nuevo mensaje </h1>
        <div class="button"><a href="<%= newMessagePath %>">Enviar un nuevo mensaje</a></div>
    </div>

    <div class="card">
        <h1>Mensajes enviados <%= infoToSendSent.length %> </h1>

        <% infoToSendSent.forEach( info => { %>

        <div class="card2">
            <p>Mensaje enviado a <%= info.person.name %></p>
            <p><%= info.message.body %> </p>
        </div>
        <% }) %>
    </div>

    <div class="card">
        <h1>Mensajes recibidos <%= infoToSendReceive.length %> </h1>

        <% infoToSendReceive.forEach( info => { %>

        <div class="card2">
            <p>Mensaje enviado por <%= info.person.name %></p>
            <p><%= info.message.body %> </p>
        </div>
        <% }) %>
    </div>
