
<html>
    <head>
    <link rel="stylesheet" href="src/assets/styles/index.scss">
    </head>
    
    <body>
    
     
    <header>
        <h1> Feedbacks </h1>
     
    </header>

<div class="card">
        <h1>Agregar un feedback </h1>
        <p> <a href="<%=newFeedbackPath %>">Agregar un feedback </a> </p> 
</div>

<% feedbacks.forEach( feedback => { %>
    <div class="card"> 
     
        <h1>ID:  <%= feedback.id %></h1>
        <p>Id odontologo: <%= feedback.id_odontologo %></p>
        <p>Id de usuario: <%= feedback.id_user %></p>
        <p>Descripción :<%= feedback.description %></p>
        <p>Nota (0-5): <%= feedback.calification %></p>
        
        <p><a href="<%= feedbackPath(feedback.id) %>">Ver más</a> </p>
    </div>
<% }) %>


</body>
</html>


