
    
<header>
    <h1> Feedback <%= feedback.id %></h1>
        
</header>


<div class="card">
<p>Id odontologo: <%= feedback.id_odontologo %></p>
<p>Id_user: <%= feedback.id_user %></p>
<p>Descripcion: <%= feedback.description %></p>
<p>Calificacion: <%= feedback.calification %></p>

</div>

<div class="card">
    <p><a href="<%= deleteFeedbackPath(feedback.id) %>" > Borrar Feedback </a></p>
</div>


