<form method="post" action="<%= createNotificationPath %>">
    <% if (locals.errors){ %>

        <div class="errors">

            <p>La notificaci贸n no se pudo crear devido a los siguientes errores:</p>

            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.path %> : <%= error.message %></li>

                <% }); %>
            </ul>
        </div>
    <% } %>

<form method="post" action="<%= createNotificationPath %>"> 
    <div class="field" >
        <label for="kind">Tipo de notificaci贸n </label>
        <input type="string" name="kind" id="kind" value="<%= notification.kind %>"/>
    </div>
    <div class="field" >
        <label for="description">Descripci贸n de la notificaci贸n </label>
        <textarea rows="4" cols="30" name="description" id="description" ><%= notification.description %></textarea>
    </div>
    <div class="field" >
        <label for="user_id"> Id de usuario </label>
        <input type="int" name="user_id" id="user_id" value="<%= notification.user_id %>"/>
    </div>
    <div class="field" >
        <label for="email">Email </label>
        <input type="string" name="email" id="email" value="<%= notification.email %>"/>
    </div>
    <div class="actions" >
        <input type="submit" value="Crear"/>
    </div>


</form>