
<html>
    <head>
    <link rel="stylesheet" href="src/assets/styles/index.scss">
    </head>
    
    <body>
    
     
    <header>
        <h1> Notificaciónes </h1>
    </header>
  


<div class="card">
    <h1>Agregar una notificación </h1>
    <p> <a href="<%=newNotificationPath %>">Agregar una notificación </a> </p> 
</div>

<% notifications.forEach( notification => { %>
    <div class="card"> 
        
        <h1>ID:  <%= notification.id %></h1>
        <p>Tipo de notificación :<%= notification.kind %></p>
        <p>Descripsión :<%= notification.description %></p>
        <p>Usuario notificado (id): <%= notification.user_id %></p>
        <p>Email para notificación: <%= notification.email%></p>

      
        <p><a href="<%= notificationPath(notification.id) %>">Ver más</a> </p>
    </div>
<% }) %>


</body>
</html>


