<h1> Notificación <%= notification.id %></h1>

<p>------------------------------------------------------------------------------------------------------------</p>
<p>Tipo: <%= notification.kind %></p>
<p>Descripción: <%= notification.description %></p>
<p>Usuario notificado (id): <%= notification.user_id %></p>
<p>Email: <%= notification.email%></p>
<p>------------------------------------------------------------------------------------------------------------</p>

<br>
<a href="<%= deleteNotificationPath(notification.id) %>" > Borrar la Notificación </a>