<html>
    <head>
    <link rel="stylesheet" href="src/assets/styles/index.scss">
    </head>
    
    <body>
    
<header>
    <h1> Notificación <%= notification.id %></h1>
        
</header>




<div class="card">
<p>Tipo: <%= notification.kind %></p>
<p>Descripción: <%= notification.description %></p>
<p>Usuario notificado (id): <%= notification.user_id %></p>
<p>Email: <%= notification.email%></p>
</div>

<br>
<div class="card">
<p><a href="<%= deleteNotificationPath(notification.id) %>" > Borrar la Notificación </a></p>

</div>

</body>
</html>


